NTFY_URL=https://ntfy.sh
NTFY_TOPIC_CRITICAL=homelab-critical-CHANGEME
NTFY_TOPIC_ALERTS=homelab-alerts-CHANGEME
NTFY_TOPIC_INFO=homelab-info-CHANGEME

HOST_PREFIX=[VPS]

CHECK_SERVICES="nginx tailscaled"

DISK_THRESHOLD=85
DISK_MOUNTS="/"

HTTPS_ENDPOINTS=""
