HOMELAB_BACKEND=100.64.0.2

NGINX_TCP_PORTS="443 25565"
NGINX_UDP_PORTS="24454"

NTFY_URL=https://ntfy.sh
NTFY_TOPIC_CRITICAL=homelab-critical-CHANGEME
NTFY_TOPIC_ALERTS=homelab-alerts-CHANGEME
NTFY_TOPIC_INFO=homelab-info-CHANGEME

HOST_PREFIX=[VPS]

CHECK_SERVICES="nginx tailscaled"

CHECK_CONTAINERS=""

DISK_THRESHOLD=85
DISK_MOUNTS="/"

HTTPS_ENDPOINTS=""
